body {
  --hslBg: 200, 55%, 90%;
  --hslText: 220, 68%, 29%;
  box-sizing: border-box;
  max-width: 900px;
  font-size: 1.2em;
  font-family: sans-serif;
  margin: 0 auto;
  padding: 15px;
  color: hsl(var(--hslText));
}

#searchWords {
  padding: 10px 5px;
  background: hsl(var(--hslBg));
  border-radius: 5px;
}

#searchWords * {
  margin: 0 0.5em;
}

fieldset {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid currentColor;
}

fieldset + fieldset {
  margin-top: 0.5em;
}

legend {
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.5px;
  padding: 0 5px;
}


#searchWords input,
button {
  color: inherit;
  font-size: inherit;
  min-width: 48px;
  min-height: 48px;
  box-sizing: border-box;
  padding: 5px 15px;
}

#searchWords input {
  flex: 1;
  text-transform: uppercase;
}

#results {
  display: block;
  border-radius: 3px;
  margin: 1em 0;
  background: hsla(var(--hslBg));
  padding: 10px;
}

.word {
  text-align: center;
  display: inline-block;
  margin: 5px;
  padding: 0.5em 0.75em;
  border: 2px solid hsl(var(--hslBg));
  border-radius: 5px;
  background: white;
  letter-spacing: 0.5px;
}

.danger {
  --hslText: 0, 100%, 41%;
  color: hsl(var(--hslText));
  background-color: #fee;
}

.word:hover {
  border-color: hsla(var(--hslText), 0.5);
}